/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.idea/
/.vscode/
/build/
/pubspec.lock
*.iml
.DS_Store
example/.dart_tool/
example/build/
example/.flutter-plugins
example/.flutter-plugins-dependencies
.git_corrupt_backup/
